*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #1d1c1f;
}
h1{
  font-size: 38px;
  font-weight: bold;
  color: rgba(255,94,26);
}
h2{
  color: #eee;
  font-weight: bold;
}
p{
  color: #eee;
}
/*导航栏*/
.navbar-default{
  background-color: #1d1c1f;
  opacity: 0.8;
  border: none;
}
.navbar-default .navbar-nav>li>a{
  font-size: 14px;
  color: #fff;
  height: 60px;
  line-height: 30px;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  transition: all 0.5s ease-in;
  background-color: rgb(197, 74, 21);
}
.navbar-default .navbar-nav>li>a:focus{
  color: #fff;
  font-weight: bold;
}
.navbar-default .navbar-nav>li.act{
  background-color: rgb(172, 51, 0);
}
/*logo*/
.navbar-default img{
  margin-top: -15px;
}
/*导航小按钮*/
.navbar-default .navbar-toggle{
  margin-top: 17px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: rgb(235, 109, 55);
}
.navbar-default .navbar-toggle:hover{
  border-color: rgba(255,94,26);
  background-color: rgba(255,94,26);
}
.navbar-default .navbar-toggle:hover .icon-bar{
  background-color: #eee;
}
.item-icon{
  margin-right: 5px;
}
/* home */
#home .ban h1{
  font-size: 40px;
}
#home .btn{
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: white;
  border: 2px solid rgba(255,94,26);
  background-color: transparent;
  transition: all 0.3s linear;
  margin-top: 30px;
  margin-right: 80px;
}
#home .btn:last-child{
  margin-right: 0;
}
#home .btn:hover{
  background: rgba(255,94,26);
  opacity: 0.8;
  color: #eee;
}
/* battle */
#battle{
  background-color: #2e2e33;
  padding: 50px 0;
}
#battle h1{
  margin-bottom: 30px;
}
#battle h2{
  margin-top: 50px;
  margin-bottom: 20px;
}
/* news */
#news{
  padding: 50px 0;
  text-align: center;
}
#news .col-md-4 img:hover{
  box-shadow: 0px 0px 10px rgb(235, 109, 55);
}
#news h1{
  margin-bottom: 30px;
}
#news a{
  text-decoration: none;
  color: #eee;
}
#news span{
  font-size: 16px;
  display: block;
  /* margin: 20px 0; */
  padding: 10px 0;
  transition: all 0.3s linear;
}
#news span:hover{
  color: rgb(235, 109, 55);
}
#about{
  background-color: #2e2e33;
  padding: 50px 0;
}
#about form input,#about form textarea{
  background-color: transparent;
  margin-bottom: 10px;
}

/* 地图 */
#allmap {
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0;
  font-family: "微软雅黑";
}
